<!-- HEADER -->
<div ng-include="'components/Header-Utils/index.html'"></div>

<div class="container">
  <div class="row" style="margin:20px 0 0 0;">
    <div class="col-sm-12">
      <h1 class="text-center">Ahhhgenda</h1>
      <p class="lead text-center">Public agendas. Clean and simple.</p>
    </div>
  </div>
</div>
<div class="container-fluid reql-container">
  <div class="row" style="margin:60px 0;">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 center-text">
          <!-- <img src="images/reql-icon.png" alt="" style="width:80%;"> -->
        </div>
        <div class="col-sm-6">
          <h2>Ahhhgenda is still in development!</h2>
          <p class="lead">Thanks for your interest in Ahhhgenda, a clean and simple public agenda builder. We have not released this tool for public use yet, but you can check out a real world example of Ahhhgenda in use now!</p>
          <a ui-sref="gwc-2016" class="btn btn-primary btn-lg">See an example</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- FOOTER -->
<div footer></div>
