@import url(https://fonts.googleapis.com/css?family=Roboto);
body {
  /*background-color:#CDDC39;*/
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  not supported by any browser */
}

.agenda {
  padding: 2em 0;
  font-family: 'Roboto', sans-serif;
  color: #000;
  .agenda-title {
    font-size: 2em;
    font-weight: 800;
    color: #000;
    text-transform: uppercase;
  }
  .agenda-subtitle {
    font-size: 1.25em;
    font-weight: 800;
    color: #999;
    margin-top: 0;
    margin-bottom:1.5em;
  }
  .session-key {
    padding-bottom: 1em;
    /*font-size: 75%;*/
  }
  .session-key-label {
    cursor: pointer;
  }
  .session-key-label.inactive {
    opacity: .5;
  }
  .agenda-time-slot {
    border-radius: 4px;
    padding: 1em;
    margin-bottom: .5em;
    border: 1px solid;
    border-left: 20px solid;
    white-space: normal;
  }
  .session-type-label{
    font-size: .75em;
    color: #ccc;
    text-transform: uppercase;
    position: relative;
    top: 7px;
  }
  .agenda-date {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-top:.5em;
    text-transform: uppercase;
  }
  .agenda-day-description {
    font-weight: 800;
    color: #999;
    margin-top: 0;
    text-align: center;
  }
  .agenda-day-alert {
    font-weight: 100;
    color: #000;
    margin-top: 0;
    margin-bottom: 1em;
    text-align: center;
    font-size:.9em;
  }
  .session-title {
    font-weight: bold;
    padding: .4em 0 0 0;
    font-size: 1.1em;
    text-transform: uppercase;
  }
  .powered-by{
    color: #ccc;
    font-weight: lighter;
    font-size: 12px;
    a{
      color:#fff;
    }
  }
}

@media (min-width: $screen-sm-min) {
  /*.agenda-plan {
    white-space: nowrap;
    margin-bottom: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 10px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    border: 1px solid #ddd;
    padding: 10px 5px;
    background: #ddd;
  }
  .agenda-day {
    width: 400px;
    margin: 0 5px;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
  }*/
}
