@import url(https://fonts.googleapis.com/css?family=Roboto);
body {
  /*background-color:#CDDC39;*/
}

$title-dark: #56482D;
.ahhh-container {
  /*background: $brand-teal;*/
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9f686+0,f9f686+11,2cd7e0+91 */
  background: #f9f686;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #f9f686 0%, #f9f686 11%, #2cd7e0 91%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #f9f686 0%, #f9f686 11%, #2cd7e0 91%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #f9f686 0%, #f9f686 11%, #2cd7e0 91%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  .shadow{text-shadow: 0px 1px 2px rgba(0, 0, 0, .7);}
  color: #fff;
  .btn-ahhh {
    text-shadow: none;
    color: #fff;
    background: #2cd7e0;
    border: 3px solid #2cd7e0;
    padding: 8px 16px;
    &:hover {
      background: transparent;
      color: #fff;
      border: 3px #fff solid;
      
    }
  }
}

.btn-ahhh2 {
    text-shadow: none;
    color: #fff;
    background: #2cd7e0;
    border: 3px solid #2cd7e0;
    padding: 8px 16px;
    &:hover {
      /*background: transparent;*/
      color: #fff;
      border: 3px #fff solid;
      
    }
  }

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  not supported by any browser */
}

.edit-header {
  background: #333;
  color: #fff;
  .brand, .user {
    padding: .5em;
  }
  .edit-agenda {
    padding: .5em;
    color: #ccc;
    display: inline-block;
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}

.agenda {
  padding: 2em 0;
  font-family: 'Roboto', sans-serif;
  color: #000;
  background-size: auto 100% !important;
  .agenda-title {
    font-size: 2em;
    font-weight: 800;
    color: #000;
    text-transform: uppercase;
  }
  .agenda-subtitle {
    font-size: 1.25em;
    font-weight: 800;
    color: #999;
    margin-top: 0;
    margin-bottom: 1.5em;
  }
  .session-key {
    padding-bottom: 1em;
    /*font-size: 75%;*/
  }
  .session-key-label {
    cursor: pointer;
  }
  .session-key-label.inactive {
    opacity: .5;
  }
  .agenda-time-slot {
    border-radius: 4px;
    padding: 1em;
    margin-bottom: .5em;
    border: 1px solid;
    border-left: 20px solid;
    white-space: normal;
  }
  .session-type-label {
    font-size: .75em;
    color: #ccc;
    text-transform: uppercase;
    position: relative;
    top: 7px;
  }
  .agenda-date, {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-top: .5em;
    text-transform: uppercase;
  }
  .agenda-day-description {
    font-weight: 800;
    color: #999;
    margin-top: 0;
    text-align: center;
  }
  .agenda-day-alert {
    font-weight: 100;
    color: #000;
    margin-top: 0;
    margin-bottom: 1em;
    text-align: center;
    font-size: .9em;
  }
  .session-title {
    font-weight: bold;
    padding: .4em 0 0 0;
    font-size: 1.1em;
    text-transform: uppercase;
  }
  .powered-by {
    color: #ccc;
    font-weight: lighter;
    font-size: 12px;
    a {
      color: #fff;
    }
  }
  .panel {
    box-shadow: 0px 6px 21px rgba(0, 0, 0, .5);
  }
  .people-panel {
    h4 {
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
    }
  }
  .person {
    font-size: 70%;
    border-bottom: 1px solid #ccc;
    padding-top: 1em;
    img {
      border-radius: 50%;
      margin-bottom: 1em;
    }
    .person-name {
      font-weight: bold;
      font-size: 1.25em;
      color: #B58900;
    }
    .person-role {
      color: #666;
      text-transform: uppercase;
    }
  }
}

.admin {
  .admin-header {
    margin-bottom: 1em;
  }
  .empty-state {
    padding: 3em;
    .empty-state-title {
      margin-bottom: 1em;
    }
  }
}

@media (min-width: $screen-sm-min) {
  .agenda {
    padding: 10em 0;
  }
  /*.agenda-plan {
    white-space: nowrap;
    margin-bottom: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 10px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    border: 1px solid #ddd;
    padding: 10px 5px;
    background: #ddd;
  }
  .agenda-day {
    width: 400px;
    margin: 0 5px;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
  }*/
}
